.scanner-overlay {
  position: fixed;
  top:0; left:0; right:0; bottom:0;
  background: rgba(0,0,0,0.7);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  z-index:2000;
}
#scanner-container video {
  width: 300px;
  height: 300px;
  border: 2px solid white;
}