<app-spinner-global></app-spinner-global>

<div class="d-flex flex-column min-vh-100">

  <!-- HEADER -->
  <app-header *ngIf="!EsImpresion()"></app-header>

  <!-- CONTENIDO -->
  <main class="flex-grow-1 d-flex"
        [ngClass]="CentrarContenido ? 'align-items-center justify-content-center' : ''">

    <div class="w-100">
      <router-outlet (activate)="OnRouteActivate($event)"></router-outlet>
    </div>

  </main>

  <!-- FOOTER -->
  <app-footer *ngIf="!EsImpresion()"></app-footer>

</div>