<app-spinner-global [visible]="Procesando"></app-spinner-global>

<div *ngIf="MostrarPedido" class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-9 col-xl-7">
            <!-- HEADER -->
            <div class="d-flex justify-content-between align-items-center p-2 bg-dark rounded-top">
                <h5 class="text-white m-0 text-center w-100">
                    PEDIDO
                </h5>
                <button class="btn btn-light btn-sm" (click)="IrARuta('/pedido-historial-listado')"
                    style="width:30px;height:30px;border-radius:50%;">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <!-- CARD PRINCIPAL -->
            <div class="card border-top-0 rounded-top-0 shadow-sm p-3">
                <form>
                    <div class="row">
                        <!-- EMPRESA (solo en VerOtros) -->
                        <div class="col-12 mb-3" *ngIf="VerOtros">
                            <label class="form-label d-flex align-items-center gap-2">
                                <i class="bi bi-building text-secondary"></i>
                                Empresa
                            </label>

                            <input type="text" class="form-control" [value]="Pedido.NombreEmpresa" disabled>
                        </div>
                        <!-- CLIENTE -->
                        <div class="col-12 mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                <i class="bi bi-person-fill text-primary"></i>
                                Cliente
                            </label>

                            <div class="position-relative">
                                <div class="input-group input-group-sm">

                                    <!-- BLOQUEADO -->
                                    <input type="text" class="form-control" [value]="Pedido.NombreCliente" disabled>

                                </div>
                            </div>
                        </div>

                        <!-- FECHA ENTREGA -->
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                <i class="bi bi-calendar-event text-info"></i>
                                Vencimiento
                            </label>

                            <input type="text" class="form-control form-control-sm" [value]="Pedido.FechaEntrega"
                                disabled>
                        </div>

                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                <i class="bi bi-flag-fill text-warning"></i>
                                Estado
                            </label>

                            <input type="text" class="form-control form-control-sm" [value]="estado.NombreEstadoPedido"
                                disabled *ngFor="let estado of EstadoPedido"
                                [hidden]="estado.CodigoEstadoPedido !== Pedido.CodigoEstadoPedido">
                        </div>
                        <!-- DESCUENTO -->
                        <div class="col-12 col-md-6 mb-3" *ngIf="!VerOtros">
                            <label class="form-label d-flex align-items-center gap-2">
                                <i class="bi bi-percent text-success"></i>
                                Descuento
                            </label>

                            <input type="number" class="form-control form-control-sm" [value]="Pedido.Descuento"
                                disabled>
                        </div>

                    </div>

                    <!-- BOTONES -->
                    <div class="row align-items-center mt-3">

                        <div class="col-5">
                            <button type="button" (click)="AbrirProductos()" class="btn w-100 text-white fw-bold"
                                style="background:#36b048;font-size:0.9rem;">

                                <i class="bi bi-file-plus-fill me-1"></i>
                                Productos
                            </button>
                        </div>

                        <div class="col-2"></div>

                        <div class="col-5">
                            <button type="button" (click)="AbrirPagos()" class="btn w-100 text-white fw-bold"
                                [disabled]="Modo === 'CREAR'"
                                [ngStyle]="{'background': Modo === 'CREAR' ? '#6c757d' : '#36b048'}"
                                style="font-size:0.9rem; cursor: pointer;">
                                <i class="bi bi-file-plus-fill me-1"></i>
                                Pagos
                            </button>
                        </div>

                    </div>

                    <!-- TOTALES -->
                    <div class="container mt-4">
                        <!-- MODO EDITAR -->
                        <div class="row g-2 justify-content-center">

                            <!-- TOTAL -->
                            <div class="col-4 col-md-4 col-lg-3">
                                <div class="card shadow-sm text-center p-2 h-100">

                                    <div class="text-muted" style="font-size:0.75rem">
                                        Total de tu orden
                                    </div>

                                    <div class="fw-bold text-success" style="font-size:1rem">
                                        {{ Pedido.Total || 0 | currency:'GTQ':'symbol':'1.2-2' }}
                                    </div>

                                </div>
                            </div>

                            <!-- ABONADO -->
                            <div class="col-4 col-md-4 col-lg-3">
                                <div class="card shadow-sm text-center p-2 h-100">

                                    <div class="text-muted" style="font-size:0.75rem">
                                        Abonado
                                    </div>

                                    <div class="fw-bold text-primary" style="font-size:1rem">
                                        {{ Pedido.TotalAbonado || 0 | currency:'GTQ':'symbol':'1.2-2' }}
                                    </div>

                                </div>
                            </div>

                            <!-- SALDO -->
                            <div class="col-4 col-md-4 col-lg-3">
                                <div class="card shadow-sm text-center p-2 h-100">

                                    <div class="text-muted" style="font-size:0.75rem">
                                        Saldo pendiente
                                    </div>

                                    <div class="fw-bold text-danger" style="font-size:1rem">
                                        {{ Pedido.SaldoPendiente || 0 | currency:'GTQ':'symbol':'1.2-2' }}
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="MostrarProductos" class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-9 col-xl-7">

            <!-- HEADER -->
            <div class="d-flex justify-content-between align-items-center p-2 bg-dark rounded-top">
                <h5 class="text-white m-0 text-center w-100 d-flex justify-content-center align-items-center gap-2">
                    <i class="bi bi-box-seam"></i> Productos
                </h5>
                <button class="btn btn-light btn-sm" (click)="VolverPedido()"
                    style="width:30px;height:30px;border-radius:50%;">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>

            <!-- CARD PRINCIPAL UNIFICADO -->
            <div class="card shadow-sm p-2">

                <!-- FECHA Y CLIENTE -->
                <div class="px-1 mb-2">
                    <b>{{ Pedido.FechaEntrega }} |</b>
                    {{ Pedido.NombreCliente }}
                </div>

                <!-- LISTA DE PRODUCTOS -->
                <h6 class="fw-semibold mt-2 px-1 small">Lista de Productos</h6>
                <hr class="mt-2 mb-2">
                <div class="table-responsive">
                    <table class="table table-sm align-middle mb-0">
                        <thead class="table-light small">
                            <tr>
                                <th style="width:20%">Cant.</th>
                                <th style="width:40%">Producto</th>
                                <th style="width:20%">Precio</th>
                                <th style="width:20%">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prod of Pedido.Productos" class="small fila-deslizable"
                                style="cursor:pointer;" (dblclick)="AbrirMedidas(prod)">
                                <td colspan="4" class="p-0">
                                    <div class="fila-contenido">
                                        <table class="w-100">
                                            <tr>
                                                <td style="width:20%">{{ prod.Cantidad }}</td>
                                                <td style="width:40%">
                                                    <span
                                                        [class.text-warning]="!prod.Medidas?.TipoCuello && !prod.Medidas?.Largo && !prod.Medidas?.Espalda && !prod.Medidas?.LargoManga && !prod.Medidas?.AnchoBrazo && !prod.Medidas?.Pecho && !prod.Medidas?.Cintura && !prod.Medidas?.CinturaT && !prod.Medidas?.Cuello && !prod.Medidas?.Descripcion"
                                                        class="fw-semibold">
                                                        {{ prod.NombreProducto }}
                                                        <i *ngIf="!prod.Medidas?.TipoCuello && !prod.Medidas?.Largo && !prod.Medidas?.Espalda && !prod.Medidas?.LargoManga && !prod.Medidas?.AnchoBrazo && !prod.Medidas?.Pecho && !prod.Medidas?.Cintura && !prod.Medidas?.CinturaT && !prod.Medidas?.Cuello && !prod.Medidas?.Descripcion"
                                                            class="bi bi-exclamation-triangle-fill ms-1 text-warning"
                                                            title="Faltan medidas">
                                                        </i>
                                                    </span>
                                                </td>
                                                <td style="width:20%">Q{{ prod.Precio }}</td>
                                                <td style="width:20%" class="fw-semibold text-success">Q{{ prod.Subtotal
                                                    }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- RESUMEN -->
                <div class="text-end mt-2">

                    <p class="mb-1" *ngIf="!VerOtros">
                        Subtotal: Q{{ Pedido.Subtotal | number:'1.2-2' }}
                    </p>

                    <p class="mb-1" *ngIf="!VerOtros">
                        Descuento ({{ Pedido.Descuento || 0 }}%):
                        -Q{{ calcularDescuentoConRegla(Pedido.Subtotal, Pedido.Descuento) | number:'1.2-2' }}
                    </p>

                    <p class="fw-bold">
                        Total: Q{{ Pedido.Total | number:'1.2-2' }}
                    </p>

                </div>

            </div> <!-- FIN CARD UNIFICADO -->

        </div>
    </div>
</div>
<div *ngIf="MostrarMedidas" class="container mt-3">

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-9 col-xl-7">

            <!-- HEADER -->
            <div class="d-flex justify-content-between align-items-center p-2 bg-dark rounded-top">
                <h5 class="text-white m-0 text-center w-100">
                    <i class="bi bi-rulers"></i>
                    Medidas
                </h5>
                <button class="btn btn-light btn-sm" (click)="VolverProductos()"
                    style="width:30px;height:30px;border-radius:50%;">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>

            <div class="card border-top-0 rounded-top-0 shadow-sm p-3">

                <!-- FECHA / CLIENTE -->
                <div class="px-1">
                    <b>{{ Pedido.FechaEntrega}} |</b>
                    {{ Pedido.NombreCliente }}
                </div>

                <!-- INFO PRODUCTO -->
                <div class="small mb-1">
                    {{ProductoMedidas?.NombreProducto}} -
                    {{ProductoMedidas?.NombreTipoTela}} -
                    {{ProductoMedidas?.NombreTela}} -
                    {{ProductoMedidas?.Codigo}} -
                    {{ProductoMedidas?.Color}}
                </div>

                <!-- REFERENCIA -->
                <div class="small mb-3">
                    <b>{{ProductoMedidas?.Referencia}}</b>
                </div>

                <!-- 🔵 SELECTS BLOQUEADOS -->
                <div class="row g-2 mb-2">
                    <div class="col-12 col-md-6" *ngFor="let campo of ObtenerCamposPorTipo('select')">

                        <label class="small">
                            {{ TituloMedidas[campo]?.label }}
                        </label>

                        <select class="form-select form-select-sm" disabled>
                            <option value="" selected>
                                {{ ProductoMedidas.Medidas[campo] ||
                                ObtenerPlaceholder(campo).replace('Ingrese','Seleccione') }}
                            </option>
                        </select>

                    </div>
                </div>



                <!-- 🟢 INPUTS BLOQUEADOS -->
                <div class="border border-2 border-secondary rounded-3 p-3 mb-3 shadow-sm">
                    <div class="row g-2 mb-2">
                        <div class="col-6" *ngFor="let campo of ObtenerCamposNoDescripcion()">

                            <label class="small fw-bold text-center d-block">
                                {{ TituloMedidas[campo]?.label }}
                            </label>

                            <!-- NUMBER -->
                            <input *ngIf="TituloMedidas[campo]?.tipo === 'number'" type="number"
                                class="form-control form-control-sm bg-light border border-secondary fw-bold text-center"
                                [value]="ProductoMedidas.Medidas[campo]" disabled>

                            <!-- TEXT -->
                            <input *ngIf="TituloMedidas[campo]?.tipo === 'text'" type="text"
                                class="form-control form-control-sm bg-light border border-secondary fw-bold text-center"
                                [value]="ProductoMedidas.Medidas[campo]" disabled>

                        </div>
                    </div>
                </div>



                <!-- 📝 DESCRIPCIÓN BLOQUEADA -->
                <div class="row">
                    <div class="col-12" *ngFor="let campo of ObtenerDescripcion()">

                        <label class="small text-center d-block">
                            {{ TituloMedidas[campo]?.label }}
                        </label>

                        <textarea class="form-control form-control-sm" rows="2" [value]="ProductoMedidas.Medidas[campo]"
                            disabled>
            </textarea>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div *ngIf="MostrarPagos" class="container mt-3">

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-9 col-xl-7">

            <!-- HEADER -->
            <div class="d-flex justify-content-between align-items-center p-2 bg-dark rounded-top">

                <h5 class="text-white m-0 text-center w-100 d-flex justify-content-center align-items-center gap-2">
                    <i class="bi bi-cash-coin"></i>
                    Pagos
                </h5>

                <button class="btn btn-light btn-sm" (click)="VolverPedido()"
                    style="width:30px;height:30px;border-radius:50%;">
                    <i class="bi bi-x-lg"></i>
                </button>

            </div>

            <!-- CARD PRINCIPAL -->
            <div class="card border-top-0 rounded-top-0 shadow-sm p-3">

                <!-- FECHA Y CLIENTE -->
                <div class="mb-2">
                    <b>{{ Pedido.FechaEntrega }}</b>
                    |
                    {{ Pedido.NombreCliente }}
                </div>

                <!-- HISTORIAL -->
                <h6 class="fw-semibold small mb-0">
                    <b>Historial de abonos</b>
                </h6>
                <hr class="mt-2 mb-3">

                <div class="table-responsive mt-2" *ngIf="ListaPagos.length > 0">

                    <table class="table table-sm table-bordered align-middle text-center">

                        <thead class="table-light">
                            <tr>
                                <th style="width:50px;">No.</th>
                                <th>Fecha</th>
                                <th>Pago</th>
                                <th>Monto</th>
                                <th style="width:80px;">Documento</th> <!-- NUEVA COLUMNA -->
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let p of ListaPagos">

                                <td>{{ p.Correlativo }}</td>

                                <td>{{ p.Fecha | date:'dd/MM/yyyy HH:mm' }}</td>

                                <td>{{ p.FormaPago }}</td>

                                <td>{{ p.Monto | currency:'GTQ':'symbol':'1.2-2' }}</td>

                                <!-- BOTÓN DESCARGAR PDF -->
                                <td>
                                    <button (click)="DescargarPDFPago(p.CodigoPago)" class="btn btn-sm btn-outline-dark"
                                        title="Descargar PDF" style="border-radius:6px;">
                                        <i class="bi bi-file-earmark-pdf"></i>
                                    </button>
                                </td>

                            </tr>

                            <!-- FILA TOTAL -->
                            <tr class="table-light fw-bold">
                                <td colspan="3" class="text-start">Total abonado</td>
                                <td>{{ TotalAbonadoPagos | currency:'GTQ':'symbol':'1.2-2' }}</td>
                                <td></td> <!-- celda extra vacía para alinear con la columna PDF -->
                            </tr>

                        </tbody>

                    </table>

                </div>

                <div *ngIf="ListaPagos.length === 0" class="text-center text-muted small mt-2">
                    No hay pagos registrados
                </div>

            </div>

        </div>
    </div>

</div>