<app-spinner-global [visible]="Procesando"></app-spinner-global>

<!-- ============================= -->
<!-- FORMULARIO PRODUCTO -->
<!-- ============================= -->

<div class="container mt-3" *ngIf="!PanelCatalogoActivo">

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6">

            <!-- HEADER -->
            <div class="d-flex justify-content-between align-items-center p-2 bg-dark rounded-top">

                <div style="width:30px"></div>

                <h5 class="text-white m-0 text-center flex-grow-1">
                    <i class="bi bi-box-seam"></i>
                    {{ TituloFormulario }}
                </h5>
                <button class="btn btn-light btn-sm" style="width:30px;height:30px;border-radius:50%;"
                    (click)="IrARuta('/configuracion-listado')">

                    <i class="bi bi-x-lg"></i>
                </button>

            </div>

            <!-- CARD -->
            <div class="card shadow-sm rounded-top-0 border-top-0">
                <div class="card-body">

                    <form (ngSubmit)="Guardar()">

                        <div class="row">

                            <!-- ===================== -->
                            <!-- TIPO PRODUCTO -->
                            <!-- ===================== -->

                            <div class="col-12 mb-3">

                                <label class="form-label">
                                    Tipo Producto
                                </label>

                                <select class="form-select form-select-sm" [(ngModel)]="Inventario.TipoProducto"
                                    name="TipoProducto" disabled>

                                    <option *ngFor="let item of TipoProductos" [value]="item.CodigoTipoProducto">

                                        {{ item.NombreTipoProducto }}

                                    </option>

                                </select>

                            </div>

                            <!-- ===================== -->
                            <!-- TIPO TELA -->
                            <!-- ===================== -->

                            <div class="col-12 mb-3">

                                <label class="form-label">
                                    Tipo de Tela
                                </label>

                                <div class="d-flex gap-2">

                                    <div class="position-relative flex-grow-1">

                                        <div class="input-group input-group-sm"
                                            (click)="AlternarListaBusqueda('TipoTela',$event)">

                                            <input type="text" class="form-control" [(ngModel)]="Filtros.TipoTela"
                                                [ngModelOptions]="{standalone:true}"
                                                placeholder="Seleccionar tipo de tela">

                                            <span class="input-group-text bg-white">
                                                <i class="bi bi-caret-down-fill"></i>
                                            </span>

                                        </div>

                                        <ul class="list-group position-absolute w-100" *ngIf="MostrarListas.TipoTela"
                                            style="z-index:1000">

                                            <li class="list-group-item"
                                                *ngFor="let item of Filtrados('TipoTela',TipoTelas,'NombreTipoTela')"
                                                (mousedown)="Seleccionar('TipoTela',item)">

                                                {{ item.NombreTipoTela }}

                                            </li>

                                        </ul>

                                    </div>

                                    <button type="button" class="btn btn-dark btn-sm px-3"
                                        (click)="AgregarNuevo('TipoTela')">
                                        +
                                    </button>

                                </div>

                            </div>

                            <!-- ===================== -->
                            <!-- NOMBRE TELA -->
                            <!-- ===================== -->

                            <div class="col-12 mb-3">

                                <label class="form-label">
                                    Nombre de Tela
                                </label>

                                <div class="d-flex gap-2">

                                    <div class="position-relative flex-grow-1">

                                        <div class="input-group input-group-sm"
                                            (click)="AlternarListaBusqueda('NombreTela',$event)">

                                            <input type="text" class="form-control" [(ngModel)]="Filtros.NombreTela"
                                                [ngModelOptions]="{standalone:true}" placeholder="Seleccionar tela">

                                            <span class="input-group-text bg-white">
                                                <i class="bi bi-caret-down-fill"></i>
                                            </span>

                                        </div>

                                        <ul class="list-group position-absolute w-100" *ngIf="MostrarListas.NombreTela"
                                            style="z-index:1000">

                                            <li class="list-group-item"
                                                *ngFor="let item of Filtrados('NombreTela',NombresTelas,'NombreTela')"
                                                (mousedown)="Seleccionar('NombreTela',item)">

                                                {{ item.NombreTela }}

                                            </li>

                                        </ul>

                                    </div>

                                    <button type="button" class="btn btn-dark btn-sm px-3"
                                        (click)="AgregarNuevo('NombreTela')">
                                        +
                                    </button>

                                </div>

                            </div>

                            <!-- ===================== -->
                            <!-- PRODUCTO -->
                            <!-- ===================== -->

                            <div class="col-12 mb-3">

                                <label class="form-label">
                                    Producto
                                </label>

                                <!-- CREAR -->
                                <ng-container *ngIf="!ModoEdicionProducto; else editarProducto">

                                    <input class="form-control form-control-sm" [(ngModel)]="Inventario.Producto"
                                        name="Producto" placeholder="Ingrese producto"
                                        (input)="NormalizarTextoCatalogoProducto($event)">

                                </ng-container>

                                <!-- EDITAR -->
                                <ng-template #editarProducto>

                                    <select class="form-select form-select-sm" [(ngModel)]="Inventario.CodigoProducto"
                                        name="CodigoProducto" [disabled]="ModoEdicionProducto">

                                        <option [ngValue]="0">
                                            Seleccione producto
                                        </option>

                                        <option *ngFor="let item of Productos" [ngValue]="item.CodigoProducto">

                                            {{ item.NombreProducto }}

                                        </option>

                                    </select>

                                </ng-template>

                            </div>

                            <!-- ===================== -->
                            <!-- PRECIO -->
                            <!-- ===================== -->

                            <div class="col-12 mb-3">

                                <label class="form-label">
                                    Precio
                                </label>

                                <input type="number" class="form-control form-control-sm"
                                    [(ngModel)]="Inventario.Precio" name="Precio">

                            </div>

                            <!-- BOTON GUARDAR -->

                            <div class="col-12 text-center mt-3">

                                <button class="btn btn-success btn-sm px-4">
                                    Guardar
                                </button>

                            </div>

                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- ============================= -->
<!-- PANEL CATALOGO -->
<!-- ============================= -->

<div class="container mt-3" *ngIf="PanelCatalogoActivo">

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

            <div class="card shadow-sm">

                <!-- HEADER -->

                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">

                    <span>
                        Gestión de {{ PanelCatalogoActivo === 'TipoTela' ? 'Tipo de Tela' : 'Nombre de Tela' }}
                    </span>

                    <button class="btn btn-light btn-sm" (click)="CerrarPanel()">
                        X
                    </button>

                </div>

                <div class="card-body">

                    <!-- ========================= -->
                    <!-- FORM TIPO TELA -->
                    <!-- ========================= -->

                    <div *ngIf="PanelCatalogoActivo === 'TipoTela'">

                        <div class="row align-items-end mb-3">

                            <!-- INPUT -->

                            <div class="col">

                                <label class="form-label">
                                    Nombre Tipo Tela
                                </label>

                                <input class="form-control form-control-sm" [(ngModel)]="NombreNuevoCatalogo"
                                    placeholder="Ingrese tipo de tela" (input)="NormalizarTextoCatalogo($event)">

                            </div>

                            <!-- BOTON AGREGAR -->

                            <div class="col-auto">

                                <button class="btn btn-success d-flex align-items-center gap-2 px-3"
                                    (click)="GuardarCatalogo()">

                                    <i class="bi bi-plus-square-fill text-white"></i>

                                    <span class="text-white">
                                        Agregar
                                    </span>

                                </button>

                            </div>

                        </div>

                    </div>

                    <!-- ========================= -->
                    <!-- FORM NOMBRE TELA -->
                    <!-- ========================= -->

                    <div *ngIf="PanelCatalogoActivo === 'NombreTela'">

                        <div class="row mb-2">

                            <!-- TIPO -->

                            <div class="col-6">

                                <label class="form-label">
                                    Tipo de Tela
                                </label>

                                <select class="form-select form-select-sm" [(ngModel)]="CodigoTipoTelaSeleccionado">

                                    <option [value]="0">
                                        Seleccione
                                    </option>

                                    <option *ngFor="let item of TipoTelas" [value]="item.CodigoTipoTela">

                                        {{ item.NombreTipoTela }}

                                    </option>

                                </select>

                            </div>

                            <!-- NOMBRE -->

                            <div class="col-6">

                                <label class="form-label">
                                    Nombre de Tela
                                </label>

                                <input class="form-control form-control-sm" [(ngModel)]="NombreNuevoCatalogo"
                                    placeholder="Ingrese tela" (input)="NormalizarTextoCatalogoNombreTela($event)">

                            </div>

                        </div>

                        <!-- BOTON AGREGAR -->

                        <div class="d-flex justify-content-center mb-3">

                            <button class="btn btn-success d-flex align-items-center gap-2 px-3"
                                (click)="GuardarCatalogo()">

                                <i class="bi bi-plus-square-fill text-white"></i>

                                <span class="text-white">
                                    Agregar
                                </span>

                            </button>

                        </div>

                    </div>

                    <hr>

                    <!-- ========================= -->
                    <!-- LISTADO -->
                    <!-- ========================= -->

                    <div class="list-group">

                        <!-- ========================= -->
                        <!-- LISTADO TIPO TELA -->
                        <!-- ========================= -->

                        <ng-container *ngIf="PanelCatalogoActivo === 'TipoTela'">

                            <div class="list-group-item" *ngFor="let item of ListaCatalogoPanel"
                                (mousedown)="IniciarArrastreCatalogo($event,item)"
                               >

                                <div class="row align-items-center">

                                    <!-- NOMBRE -->

                                    <div class="col">

                                        {{ item.NombreTipoTela }}

                                    </div>

                                    <!-- ACCION -->

                                    <div class="col-auto">

                                        <i class="bi bi-pencil-square text-dark" style="font-size:18px; cursor:pointer"
                                            (click)="EditarCatalogo(item); $event.stopPropagation()">
                                        </i>

                                    </div>

                                </div>

                            </div>

                        </ng-container>

                        <!-- ========================= -->
                        <!-- LISTADO NOMBRE TELA -->
                        <!-- ========================= -->

                        <ng-container *ngIf="PanelCatalogoActivo === 'NombreTela'">

                            <div class="list-group-item" *ngFor="let item of ListaCatalogoPanel"
                                (mousedown)="IniciarArrastreCatalogo($event,item)"
                            >

                                <div class="row align-items-center">

                                    <!-- TIPO -->

                                    <div class="col-4 text-muted small">

                                        {{ item.NombreTipoTela }}

                                    </div>

                                    <!-- NOMBRE -->

                                    <div class="col-5">

                                        {{ item.NombreTela }}

                                    </div>

                                    <!-- ACCION -->

                                    <div class="col-3 text-end">

                                        <i class="bi bi-pencil-square text-dark" style="font-size:18px; cursor:pointer"
                                             (click)="EditarCatalogo(item); $event.stopPropagation()">
                                        </i>

                                    </div>

                                </div>

                            </div>

                        </ng-container>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>